<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="full-name">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="full-name"
          required
          [(ngModel)]="patientRequest.fullName"
          name="full_name"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          type="email"
          required
          [(ngModel)]="patientRequest.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          class="form-control"
          id="phone"
          type="tel"
          required
          [(ngModel)]="patientRequest.phone"
          name="phone"
        />
      </div>

      <div class="form-group">
        <label for="description">Address</label>
        <textarea
          class="form-control"
          id="address"
          required
          [(ngModel)]="patientRequest.address"
          name="address"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input
          class="form-control"
          id="dob"
          type="date"
          required
          [(ngModel)]="patientRequest.dob"
          name="dob"
        />
      </div>

      <button (click)="savePatient()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Patient was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newPatient()">Add</button>
    </div>
  </div>
</div>
